@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Orbit&family=Overpass&family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&family=Work+Sans&display=swap');
@font-face {
    font-family: GraphikBold;
    src: url(/fonts/GraphikBold.otf);
}
@font-face {
    font-family: GraphikRegular;
    src: url(/fonts/GraphikRegular.otf);
}
@font-face {
    font-family: GraphikLight;
    src: url(/fonts/GraphikLight.otf);
}
@font-face {
    font-family: Akkurat;
    src: url(/fonts/Akkurat.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7ecea;
    overflow-x: hidden;

}
header{
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
    padding: 50px 120px;
    position: sticky;
    background-color: #e7ecea;
}
/*IFAW title of org*/
.title{
    text-decoration: none;
    font-size: 55px;
    color: #000;
    font-family: GraphikBold;
}
.a{
    width: 25px;
    height: 8px;
    background-color: #007cf9;
    transition: .1s ease;
    position: absolute;
    top: 103px;
    left: 160px;
}
/*Navigation*/
nav{
    position: relative;
    margin-left: 150px;
}
nav a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;   
    transition: .3s ease;
    color: #000;
    font-family: GraphikRegular;
}
nav a:before{
    content: '';
    position: absolute;
    width:0%;
    height: 4px;
    background-color: #000;
    border-radius: 20px;
    bottom: -5px;
    left: 0;
    transition: .5s ease;
}
nav a:hover:before{
    width: 100%;
}


/*Searchbar input box and icon*/
.searchbar{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 220px;
}
.searchbar .input{
    border: 0;
    outline: none;
    background-color: white;
    width: 140px;
    height: 43px;
    position: absolute;
    right: 0;
    bottom: -10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px  2px #838383 ;

}
.icon{
    background-color: white;
    margin-right: 15px;
    margin-bottom: -3px;
}

/*Donation box*/
.donate{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    background-color: #007cf9;
    padding: 10px;
    color: white;
    font-family: GraphikRegular;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
/*Intro and maincontent*/
.intro h1{
    font-family: GraphikBold;
    font-size: 75px;
    padding-top: 90px;
    padding-left: 160px;
}
.intro p{
    font-family: GraphikBold;
    font-size: 35px;
    padding-left: 160px;
    padding-top: 20px;
    width: 60%;
}
.intro .contentbreak{
    width: 1200px;
    height: 5px;
    background-color: #007cf9;
    margin-left: 160px;
    margin-top: 100px;
}
.mc1, .mc2, .mc3, .mc4{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    box-shadow:  2px 3px 2px rgba(0, 0, 0, 0.296);
    transition: .8s ease;
    cursor: pointer;
}
.mc5, .mc6, .mc7{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    box-shadow:  2px 3px 2px rgba(0, 0, 0, 0.296);
    transition: .8s ease;
    cursor: pointer;
    padding-bottom: 60px;
}
.mc1 h2,.mc2 h2,.mc3 h2,.mc4 h2, .mc5 h2, .mc6 h2,.mc7 h2{
    font-family: GraphikBold;
    color: #007cf9;
    font-size: 60px;

}
.mc1 p, .mc2 p, .mc3 p, .mc4 p, .mc5 p, .mc6 p, .mc7 p{
    font-family: GraphikBold;
    font-size: 30px;
    width: 40%;
    padding-top: 30px;
}
.mc1 img, .mc2 img, .mc3 img, .mc4 img, .mc5 img, .mc6 img, .mc7 img{
    width: 600px;
    height: 380px;
    display: flex;
    float: right;
}
.mc1 button,.mc2 button,.mc3 button, .mc4 button, .mc5 button, .mc6 button, .mc7 button{
    font-size: 25px;
    color: #007cf9;
    border: 3px solid #007cf9;
    font-family: GraphikBold;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: .1s ease-in-out;
}
.mc1 button:hover, .mc2 button:hover, .mc3 button:hover, .mc4 button:hover, .mc5 button:hover, .mc6 button:hover, .mc7 button:hover{
    border: 5px solid #007cf9;
}
.mc1:hover, .mc2:hover, .mc3:hover, .mc4:hover, .mc5:hover, .mc6:hover, .mc7:hover{
    box-shadow:  4px 5px 5px rgba(0, 0, 0, 0.512);
}
/*FOOTER*/
.footer{
    background-color: white;
    margin-top: 50px;
    height: 800px;
}
.footersub{
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;

}
.footersub p{
    float: right;
    font-family: GraphikBold;
    font-size: 18px; 
    padding-top: 10px;
}
.footersub h2{
    font-size: 18px;
    font-family: GraphikLight;
    font-weight: 100;
    margin-top: 60px;
    padding-bottom: 8px;
    color: #4a4a4a;
}
.socialmedia{
    font-size: 23px;
    margin-left: -20px;
}
.socialmedia a{
    margin-left: 20px;
    color: black;
}
.socialmedia a:hover{
    color: #007cf9;
}
.footersub .p2{
    float: none;
    font-family: GraphikLight;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.footersub input{
    border: none;
    padding: 15px;
    padding-right: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    margin-top: 10px;
    outline: 0;
    background-color: #e7ecea;
    color: #4a4a4a;
}
.footersub button{
    padding: 10px 35px 10px 35px;
    font-size: 15px;
    font-family: GraphikBold;
    margin-top: 20px;
    background-color: white;

}
.footersub button:hover{
    border: 4px solid black;
}
.footersub .endtext{
    float: none;
    font-family: GraphikLight;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 260px;
    color: #4a4a4a
}


.footernav{
    position: relative;
    left: 600px;
    top: -460px;
}
.col2{
    position: relative;
    left: 200px;
    top: -410px;
}

.col3{
    position: relative;
    left: 500px;
    top: -770px;
}
.footernav a{
    text-decoration: none;
    font-size: 20px;
    color:#4a4a4a;
    line-height: 1.5;
    font-family: GraphikLight;
}
.footernav a:hover{
    text-decoration: underline;
}
.footernav h4{
    font-size: 22px;
    padding-top: 70px;
    font-family: GraphiKLight;
    padding-bottom: 10px;
}
.col2 a, .col3 a, .col1 a{
    font-size: 14px;
    line-height: 2;
}