@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Orbit&family=Overpass&family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&family=Work+Sans&display=swap');
@font-face {
    font-family: GraphikBold;
    src: url(/fonts/GraphikBold.otf);
}
@font-face {
    font-family: GraphikRegular;
    src: url(/fonts/GraphikRegular.otf);
}
@font-face {
    font-family: GraphikLight;
    src: url(/fonts/GraphikLight.otf);
}
@font-face {
    font-family: Akkurat;
    src: url(/fonts/Akkurat.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7ecea;
    overflow-x: hidden;

}
header{
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
    padding: 50px 120px;
    position: sticky;
    background-color: #e7ecea;
}
/*IFAW title of org*/
.title{
    text-decoration: none;
    font-size: 55px;
    color: #000;
    font-family: GraphikBold;
}
.a{
    width: 25px;
    height: 8px;
    background-color: #007cf9;
    transition: .1s ease;
    position: absolute;
    top: 103px;
    left: 160px;
}
/*Navigation*/
nav{
    position: relative;
    margin-left: 150px;
}
nav a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;   
    transition: .3s ease;
    color: #000;
    font-family: GraphikRegular;
}
nav a:before{
    content: '';
    position: absolute;
    width:0%;
    height: 4px;
    background-color: #000;
    border-radius: 20px;
    bottom: -5px;
    left: 0;
    transition: .5s ease;
}
nav a:hover:before{
    width: 100%;
}


/*Searchbar input box and icon*/
.searchbar{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 220px;
}
.searchbar .input{
    border: 0;
    outline: none;
    background-color: white;
    width: 140px;
    height: 43px;
    position: absolute;
    right: 0;
    bottom: -10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px  2px #838383 ;

}
.icon{
    background-color: white;
    margin-right: 15px;
    margin-bottom: -3px;
}

/*Donation box*/
.donate{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    background-color: #007cf9;
    padding: 10px;
    color: white;
    font-family: GraphikRegular;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
/*Introductory heading and paragraph*/
.intro h1{
    font-size: 96px;
    font-family: GraphikBold;
    padding-left: 230px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.intro p{
    font-size: 24px;
    padding-left: 230px;
    width: 55%;
    font-family: GraphikRegular;
    line-height: 2rem;
}
/*Different programs*/
.maincontent .mc1 img{
    max-width: 100%;
    max-height: 100%;
    padding-top: 100px;
    display: block;
}
.mc1 h2, .mc2 h2, .mc3 h2{
    font-size: 45px;
    font-family: GraphikBold;
    color: #318eeb;
    position: absolute;
    left: 170px;
}
.mc1 h2{
    top: 450px;
}
.mc2 h2{
    top: 400px;
}
.mc3 h2{
    top: 400px;
}
.mc2 img, .mc3 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.mc1 p, .mc2 p, .mc3 p{
    font-size: 40px;
    font-family: GraphikBold;
    width: 56%;
    position: absolute;
    left: 170px;
    color: white;
}
.mc1 p{
    top: 500px;
}
.mc2 p{
    top: 450px;
    width: 60%;
}
.mc3 p{
    top: 450px;
}
.mc1 button, .mc2 button, .mc3 button{
    width: 52%;
    height: 8%;
    font-size: 25px;
    font-family: GraphikBold;
    color: #007cf9;
    border: 2px solid #007cf9;
    position: absolute;
    top: 700px;
    left: 170px;
    background-color: #00000000;
    transition: .1s ease-in-out;
}
.mc2 button{
    top: 750px;
}
.mc3 button{
    top: 750px;
}
.mc1 button:hover, .mc2 button:hover, .mc3 button:hover{
    border: 5px solid #007cf9;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 858px;
    top: 615px;
    background:rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.45s;
}
.overlay:hover{
    opacity: 1;
}
.overlay2{
    position: absolute;
    width: 100%;
    height: 1015px;
    top: 1470px;
    background:rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.45s;
}
.overlay2:hover{
    opacity: 1;
}

.overlay3{
    position: absolute;
    width: 100%;
    height: 1010px;
    top: 2484px;
    background:rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.45s;
}
.overlay3:hover{
    opacity: 1;
}
/*Footer*/
.footer{
    background-color: white;
    margin-top: 50px;
    height: 800px;
    
}


.footersub{
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;

}
.footersub p{
    float: right;
    font-family: GraphikBold;
    font-size: 18px; 
    padding-top: 10px;
}
.footersub h2{
    font-size: 18px;
    font-family: GraphikLight;
    font-weight: 100;
    margin-top: 60px;
    padding-bottom: 8px;
    color: #4a4a4a;
}
.socialmedia{
    font-size: 23px;
    margin-left: -20px;
}
.socialmedia a{
    margin-left: 20px;
    color: black;
}
.socialmedia a:hover{
    color: #007cf9;
}
.footersub .p2{
    float: none;
    font-family: GraphikLight;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.footersub input{
    border: none;
    padding: 15px;
    padding-right: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    margin-top: 10px;
    outline: 0;
    background-color: #e7ecea;
    color: #4a4a4a;
}
.footersub button{
    padding: 10px 35px 10px 35px;
    font-size: 15px;
    font-family: GraphikBold;
    margin-top: 20px;
    background-color: white;

}
.footersub button:hover{
    border: 4px solid black;
}
.footersub .endtext{
    float: none;
    font-family: GraphikLight;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 260px;
    color: #4a4a4a
}


.footernav{
    position: relative;
    left: 600px;
    top: -460px;
}
.col2{
    position: relative;
    left: 200px;
    top: -410px;
}

.col3{
    position: relative;
    left: 500px;
    top: -770px;
}
.footernav a{
    text-decoration: none;
    font-size: 20px;
    color:#4a4a4a;
    line-height: 1.5;
    font-family: GraphikLight;
}
.footernav a:hover{
    text-decoration: underline;
}
.footernav h4{
    font-size: 22px;
    padding-top: 70px;
    font-family: GraphiKLight;
    padding-bottom: 10px;
}
.col2 a, .col3 a, .col1 a{
    font-size: 14px;
    line-height: 2;
}

